<a href="https://colab.research.google.com/github/samp3209/leetcodeanswers/blob/main/30daysofpandas.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

Problem 1: A country is big if:

it has an area of at least three million (i.e., 3000000 km2), or
it has a population of at least twenty-five million (i.e., 25000000).
Write a solution to find the name, population, and area of the big countries.

Return the result table in any order

Results:
Time bottom 5% Memory top 9%

In [ ]:
import pandas as pd

def big_countries(world: pd.DataFrame) -> pd.DataFrame:
    names = []
    pop = []
    area = []
    for index, row in world.iterrows():
        print(row)
        if row[2] >= 3000000 or row[3] >= 25000000:
            names.append(row['name'])
            pop.append(row['population'])
            area.append(row['area'])
        else:
            pass
    dict = {'name': names, 'population': pop, 'area': area }
    out = pd.DataFrame(dict)
    return out

Problem 2 Write a solution to find the ids of products that are both low fat and recyclable.

Return the result table in any order.

Results
Time 22% Mem 62%

In [ ]:
import pandas as pd

def find_products(products: pd.DataFrame) -> pd.DataFrame:
    out = products[(products['low_fats'] == 'Y') & (products['recyclable'] == 'Y')]
    return out[['product_id']]

Problem 3 Write a solution to find all customers who never order anything.

Return the result table in any order.
Results Time 28% MEM 73%

In [ ]:
import pandas as pd

def find_customers(customers: pd.DataFrame, orders: pd.DataFrame) -> pd.DataFrame:
    out = customers[~customers['id'].isin(orders['customerId'])]
    out  = out[['name']].rename(columns={'name': 'Customers'})
    return out

Problem *4* Write a solution to find all the authors that viewed at least one of their own articles.

Return the result table sorted by id in ascending order.v

In [ ]:
import pandas as pd

def article_views(views: pd.DataFrame) -> pd.DataFrame:
    out = views[(views['author_id'] == views['viewer_id'])]
    out['id'] = out['author_id'].drop_duplicates()
    return out[['id']].sort_values(by='id').dropna()

Problem 5 Write a solution to find the IDs of the invalid tweets. The tweet is invalid if the number of characters used in the content of the tweet is strictly greater than 15.

Return the result table in any order.

In [ ]:
import pandas as pd

def invalid_tweets(tweets: pd.DataFrame) -> pd.DataFrame:
    out = tweets[(tweets['content'].str.len() > 15)]
    return out[['tweet_id']]

Problem 6 Write a solution to calculate the bonus of each employee. The bonus of an employee is 100% of their salary if the ID of the employee is an odd number and the employee's name does not start with the character 'M'. The bonus of an employee is 0 otherwise.

Return the result table ordered by employee_id.

In [ ]:
import pandas as pd

def calculate_special_bonus(employees: pd.DataFrame) -> pd.DataFrame:
    ids = []
    bonus = []
    for index, row in employees.iterrows():
        if row['employee_id'] % 2 != 0 and row['name'][0] != 'M':
            bonus.append(row['salary'])
            ids.append(row['employee_id'])
        else:
            bonus.append(0)
            ids.append(row['employee_id'])
    out = pd.DataFrame({'employee_id': ids, 'bonus': bonus})
    return out.sort_values(by='employee_id')

Problem 7 Write a solution to fix the names so that only the first character is uppercase and the rest are lowercase.

Return the result table ordered by user_id.

In [ ]:
import pandas as pd

def fix_names(users: pd.DataFrame) -> pd.DataFrame:
    names = []
    for name in users['name']:
        names.append(name[0].upper() + name[1:].lower())
    users['name'] = names
    return users.sort_values(by='user_id')

Problem 8

In [ ]:
import pandas as pd

# Modify Person in place
def delete_duplicate_emails(person: pd.DataFrame) -> None:
    person.sort_values(by='id', inplace=True)
    person.drop_duplicates(subset='email', keep='first', inplace=True)

Problem 9

In [ ]:
import pandas as pd

def count_rich_customers(store: pd.DataFrame) -> pd.DataFrame:
    out = store[(store['amount'] > 500)]['customer_id']
    rich_count = []
    rich_count.append(out.nunique())
    out = pd.DataFrame({'rich_count': rich_count})
    return out

Problem 10

In [ ]:
import pandas as pd

def replace_employee_id(employees: pd.DataFrame, employee_uni: pd.DataFrame) -> pd.DataFrame:
    out = pd.merge(employees, employee_uni, how='left', on='id')
    return out[['unique_id', 'name']]

Problem 11

In [ ]:
import pandas as pd

def food_delivery(delivery: pd.DataFrame) -> pd.DataFrame:
    out = len(delivery[(delivery['order_date'] == delivery['customer_pref_delivery_date'])])
    delivery['immediate_percentage'] = float(round(out / len(delivery) * 100,2))
    out = delivery['immediate_percentage'].drop_duplicates()
    out = pd.DataFrame({'immediate_percentage': out})
    return out

Problem 12

In [ ]:
import pandas as pd

def nth_highest_salary(employee: pd.DataFrame, N: int) -> pd.DataFrame:
    employee = employee.sort_values(ascending=True, by='salary')
    ids = employee['id'].unique()
    if N in ids:
        out = employee.loc[employee['id'] == N]
        out = out['salary']
    else:
        employee['salary'] = 'null'
        out = employee['salary']
    return pd.DataFrame({'getNthHighestSalary:': [out]})

Problem 13

In [ ]:
import pandas as pd

def students_and_examinations(students: pd.DataFrame, subjects: pd.DataFrame, examinations: pd.DataFrame) -> pd.DataFrame:
    # group by student_id', 'subject_name'; getting count for each subject
    examinations = examinations.groupby(['student_id', 'subject_name']).agg(attended_exams=('subject_name', 'count')).reset_index()
    # cross join
    students = students.merge(subjects, how='cross')
    # right join
    examinations = examinations.merge(students, on=['student_id', 'subject_name'],how='right')
    # filling null values with 0
    examinations = examinations.fillna(0)
    # sorting by 'student_id', 'subject_name'
    examinations = examinations.sort_values(['student_id', 'subject_name'])
    return examinations[['student_id', 'student_name', 'subject_name', 'attended_exams']]

Problem 14

In [ ]:
import pandas as pd

def find_patients(patients: pd.DataFrame) -> pd.DataFrame:
    names = []
    pop = []
    area = []
    for index, row in patients.iterrows():
        print(row)
        if row['conditions'].startswith('DIAB1') or ' DIAB1' in row['conditions']:
            names.append(row['patient_id'])
            pop.append(row['patient_name'])
            area.append(row['conditions'])
        else:
            pass
    dict = {'patient_id': names, 'patient_name': pop, 'conditions': area }
    out = pd.DataFrame(dict)
    return out

Problem 15

In [ ]:
import pandas as pd

def rearrange_products_table(products: pd.DataFrame) -> pd.DataFrame:
    out = products.melt(id_vars='product_id', var_name='store', value_name='price').dropna()
    return out

Problem 16

In [ ]:
import pandas as pd

def second_highest_salary(employee: pd.DataFrame) -> pd.DataFrame:
    unique_salaries = employee['salary'].drop_duplicates()
    out = unique_salaries.nlargest(2).iloc[-1] if len(unique_salaries) >1 else None
    res = pd.DataFrame({'SecondHighestSalary': [out]})
    return res

Problem 17

In [ ]:
import pandas as pd

def total_time(employees: pd.DataFrame) -> pd.DataFrame:
    employees['total_time'] = employees['out_time'] - employees['in_time']
    employees = employees.drop(columns=['in_time', 'out_time'])
    employees = employees.groupby(['emp_id','event_day'])['total_time'].sum().reset_index()
    employees = employees.rename(columns={'event_day': 'day'})
    return employees

Problem 18

In [ ]:
import pandas as pd

def valid_emails(users: pd.DataFrame) -> pd.DataFrame:
    return users[
        users['mail'].str.match(r'^[a-zA-Z][a-zA-Z\d_.-]*@leetcode\.com')
    ]

Problem 19

In [ ]:
import pandas as pd

def department_highest_salary(employee: pd.DataFrame, department: pd.DataFrame) -> pd.DataFrame:
    out = employee.merge(department, left_on='departmentId', right_on='id', suffixes=('_employee', '_department'))
    out = out.groupby(['departmentId']).apply(lambda x: x[x['salary'] == x['salary'].max()])
    #x = employee[].isin(out)
    out = out.reset_index(drop=True)
    print(out)
    out1 = out[['name_department', 'name_employee', 'salary']]
    out1.columns = ['Department', 'Employee', 'Salary']
    return out1

Problem 20[link text](https://)

In [ ]:
import pandas as pd

def game_analysis(activity: pd.DataFrame) -> pd.DataFrame:
    out = activity.groupby(['player_id'], as_index=False)['event_date'].min()
    out = out.reset_index(drop=True)
    out.columns = ['player_id', 'first_login']
    return out

Problem 21

In [ ]:
import pandas as pd

def actors_and_directors(actor_director: pd.DataFrame) -> pd.DataFrame:
    out = actor_director.groupby(['actor_id', 'director_id'], as_index=False).count()
    out = out.reset_index(drop=True)
    return out[out['timestamp'] >= 3][['actor_id', 'director_id']]

Problem 22

In [ ]:
import pandas as pd

def sales_person(sales_person: pd.DataFrame, company: pd.DataFrame, orders: pd.DataFrame) -> pd.DataFrame:
    join = sales_person.merge(orders, on='sales_id', how='left').merge(company, on='com_id', how='left')
    out = join.groupby(['name_x','name_y'], as_index=False).count()
    out = out['name_x'][out['name_y'] == 'RED']
    out = sales_person['name'][~sales_person['name'].isin(out.values)]
    out = out.to_frame()
    return out

Problem 23

Problem 24

Problem 25

Problem 26

Problem 27

Problem 28

Problem 29

Problem 30