<a href="https://colab.research.google.com/github/samp3209/leetcodeanswers/blob/main/LeetCodeSandbox.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

For annoying stuff in python that I have to constantly look up

#**Math**

In [ ]:
#Division by default is division
3/2

1.5

In [ ]:
# Double slash rounds DOWN
3//2

1

In [ ]:
#Negatives will round down
-3//2

-2

In [ ]:
#Workaround to round up
int(-3/2)

-1

In [ ]:
#Modding is normal for positive
10%3

1

In [ ]:
#Negatives are a bit tricky
-10%3

2

In [ ]:
#Workaround for this is
import math
math.fmod(-10, 3)

-1.0

In [ ]:
#Some stuff with math function
print(math.floor(3/2))
print(math.ceil(3/2))

1
2

In [ ]:
#Max and min integers
float("inf")
float("-inf")

-inf

# Arrays

In [ ]:
#Arrays in python are dynamic and can be used as stacks
arr = [0,1,2,3]
arr.append(4)
print(arr)
arr.pop()
print(arr)

[0, 1, 2, 3, 4]
[0, 1, 2, 3]

In [ ]:
#we can insert at given indices
arr.insert(1, 8)
print(arr)

[0, 8, 1, 2, 3]

In [ ]:
a,b,c,d,e = arr #unpacks values from array
print(a)
print(b)
print(c)
print(d)
print(e)

0
8
1
2
3

In [ ]:
#Loop through arrays
#using index
for i in range(len(arr)):
  print(arr[i])
print("___________")
#without index
for x in arr:
  print(x)
print("___________")
#with index and value
for i,x in enumerate(arr):
  print(i,x)

0
8
1
2
3
___________
0
8
1
2
3
___________
0 0
1 8
2 1
3 2
4 3

In [ ]:
#Loop through multiple arrays using unpacking
arr2 = [5,6,7,8,9]
for x,y in zip(arr, arr2):
  print(x,y)

0 5
8 6
1 7
2 8
3 9

In [ ]:
#Reverse an array
arr.reverse()
print(arr)

[3, 2, 1, 8, 0]

In [ ]:
#Sorting an array
arr.sort(reverse=True)
print(arr)

[8, 3, 2, 1, 0]

In [ ]:
#Sorting text arrays
texts = ['bob', 'alice', 'charlie']
texts.sort()
print(texts)

['alice', 'bob', 'charlie']

In [ ]:
#Sorting by custom value
texts.sort(key=len, reverse=True)
print(texts)

['charlie', 'alice', 'bob']

In [ ]:
#List Comprehensions
arr = [x for x in range(4)]
print(arr)
arr = [x+x for x in range(4)]
print(arr)

[0, 1, 2, 3]
[0, 2, 4, 6]

In [ ]:
#List comprehension with 2d array
arr = [[0] * 4 for i in range(4)]
print(arr)

[[0, 0, 0, 0], [0, 0, 0, 0], [0, 0, 0, 0], [0, 0, 0, 0]]

# Strings

In [ ]:
#Strings are like arrays but immutable
s = 'abc'
print(s[0:2])
#s[0] = 'A' <- runs error
#print(s)

ab

In [ ]:
#modifying a string creates a new string in n time operation
s += 'def'
s

'abcdef'

In [ ]:
#Combining list of strings
list = ['ab','cd','ef']
"".join(list)

'abcdef'

# Queues

In [ ]:
from collections import deque
queue = deque()
queue.append(1)
queue.append(2)
queue.append(3)
print(queue)
print(queue.popleft())
print(queue)
queue.appendleft(0)
print(queue)
queue.pop()
print(queue)

deque([1, 2, 3])
1
deque([2, 3])
deque([0, 2, 3])
deque([0, 2])

# Hash sets are constant time search

In [ ]:
myset = set()

myset.add(1)
myset.add(2)
myset.add(3)

print(1 in myset)
print(4 in myset)

myset.remove(2)
print(2 in myset)

True
False
False

In [ ]:
#Like lists we can add to it both explicity and with loop
print(set([1,2,3]))

myset = { i for i in range(5)}
print(myset)

{1, 2, 3}
{0, 1, 2, 3, 4}

#Hashmaps

In [ ]:
mymap = {} #no duplicate keys
mymap['a'] = 1
mymap['b'] = 2
mymap['c'] = 3
print(mymap)
print(mymap['b'])

{'a': 1, 'b': 2, 'c': 3}
2

In [ ]:
print(len(mymap)) #prints number of keys.
mymap['a'] = 42
print(mymap)

3
{'a': 42, 'b': 2, 'c': 3}

In [ ]:
mymap.pop('a')
print(mymap)

{'b': 2, 'c': 3}

In [ ]:
mymap = {'sam': 42, 'ben':21}
print(mymap)

{'sam': 42, 'ben': 21}

In [ ]:
#dict comprehension
mymap = {i: i*2 for i in range(3)}
print(mymap)

{0: 0, 1: 2, 2: 4}

In [ ]:
#looping through the dict based on key or value
for key in mymap:
  print(key, mymap[key])

for val in mymap.values():
  print(val)

for key, val in mymap.items():
  print(key, val)

0 0
1 2
2 4
0
2
4
0 0
1 2
2 4

#Tuples are immutable arrays

In [ ]:
tup = (0,1,2)
print(tup[0])
print(tup[-1])

0
2

In [ ]:
# cant modify them
tup[0] = 2

TypeError: 'tuple' object does not support item assignment

In [ ]:
# can be used as keys for a hashset
mymap  = {(1,2): 3, (4,5): 6}
print(mymap[(1,2)])

3