<a href="https://colab.research.google.com/github/samp3209/leetcodeanswers/blob/main/SQL50.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Easy Problems

In [ ]:
# Write your MySQL query statement below
select product_id from Products where low_fats = 'Y' and recyclable = 'Y'

In [ ]:
# Write your MySQL query statement below
SELECT name from Customer where referee_id !=2 or referee_id is null

In [ ]:
# Write your MySQL query statement below
SELECT name, population, area from World where population >= 25000000 or area >= 3000000

In [ ]:
# Write your MySQL query statement below
select distinct author_id as id from Views where author_id = viewer_id order by author_id

In [ ]:
# Write your MySQL query statement below
SELECT tweet_id from Tweets where length(content) > 15

In [ ]:
# Write your MySQL query statement below
Select Employees.name, EmployeeUNI.unique_id from Employees left join EmployeeUNI on Employees.id = EmployeeUNI.id

# Medium Problems

# Hard Problems